.color {
    min-height: 100vh;
    background-color: white;
}
.training-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
  }
.training-timer {
    margin-left: 1%;
    margin-right: 52%;
    margin-bottom: 22%;
    border-radius: 50%;
    background-color: rgb(71, 223, 71);
}
.training-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

table, th, td  {
    border: 3px solid black;
    color: black;
    background-color: white;
    text-align: center;
  }
th {
    background-color: orange;
}



  .img-training{
    width: 150px;
    height: 100px;
}
.img-bidders{
    width: 200px;
    height: 250px;
}
.img-info{
    width: 200px;
    height: 200px;
}

.yes-no{
    display: flex;
    text-align: center;
    width: 700px;
    flex-direction: column;
    background: linear-gradient(90deg, rgb(110,94,254)0%, rgba(73,63,252,1)100%);
    border-radius: 20px;
    margin-left: 20%;
}
.yes-no-buttons{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 4fr;
    width: 690px;
    background: white;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 10px;
}

.world {
    grid-template-columns: 1fr 3fr 3fr;
    display: grid;
}